.mapToolTip {
  position: absolute;
  margin: 8px;
  padding: 4px;
  background: rgba(0, 0, 0, 0.8);
  color: #fff;
  max-width: 400px;
  font-size: 20px;
  z-index: 9;
  pointer-events: none;
}

.custom-tooltip{
  background-color: rgba(230, 230, 230, 0.85);
  padding-left: 15px;
  padding-right:15px;
  padding-top: 5px;
  padding-bottom: 1px;
}